RewriteEngine On

# redirect empty / to build/
RewriteRule ^$ /build/ [L]

RewriteCond %{REQUEST_URI} !^/build/

# Don't apply to URLs that go to existing files or folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all those to insert /folder
RewriteRule ^(.*)$ /build/$1 [L]